body{
  font-family: 'Raleway';
  font-size: 16px;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  line-height: 150%;
  overflow: auto;
}


.button-text{
  font-family: 'Raleway';
  letter-spacing: 0.2em;
  word-spacing: 0.2em;
  line-height: 150%;
}

.epg-portrait{
 max-height: 220px;
 margin-top: 5%;
}

.icon-color{
  color:black;
}

.row-spacing{
  margin-bottom: 50px;
}

.img-thumbnail {
    border: none;
    color:black;
    box-shadow: none;
}

.portfolio-images{
  border-style: solid;
  border-width: 5px;
  border-radius: 2px;
  min-width: 100%;
}

.portfolio-images2{
  border-style: solid;
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-radius: 2px;
  min-width: 100%;
}

.portfolio-gif{
  max-width: 55%;
  max-height: 55%;
}

a .portfolio-images{
  color:black;
}

.row{
  margin-bottom: 100px;
}
.carousel-control-next{
    background-color: #DCDCDC;
}
.carousel-control-prev{
    background-color: #DCDCDC;
}
